<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>avatar_0.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2275,1665},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2275,1795},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_10.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2275,1925},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_11.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2275,2055},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_2.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2275,2185},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_3.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2275,2315},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_4.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2275,2445},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_5.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2275,3079},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_6.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2405,3079},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_7.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2527,2773},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_8.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2527,2903},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>avatar_9.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2521,3209},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>transparent_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,3277},{277,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,88}</string>
			</dict>
			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,4079},{399,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,4}</string>
			</dict>
			<key>avatar_icon0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,260},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,519},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,778},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1037},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1296},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1555},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1814},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2073},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2332},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2591},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>avatar_icon9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2850},{256,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,257}</string>
			</dict>
			<key>fb_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3109},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>monkey_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2535,3033},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>emoticon_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3367},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3619},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,3367},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,3619},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1261},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1513},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_0_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1765},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,2017},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,2269},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,2521},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,2773},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,3025},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,3367},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,3619},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1261},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1513},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1765},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,2017},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,2269},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,2521},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,2773},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,3025},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,3277},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,3529},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,3781},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1261},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1513},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1765},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,2017},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,2269},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,2521},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,2773},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,3025},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,3277},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,3529},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,3781},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1261},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1513},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1765},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_4_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,2017},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,2269},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,2521},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,2773},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,3025},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,3277},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,3529},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,3781},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_5_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1261},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1513},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1765},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,2017},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,2269},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,2521},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,2773},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,3025},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,3277},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,3529},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,3781},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_6_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,1261},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,1513},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,1765},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,2017},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,2269},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,2521},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,2773},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_7_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,3025},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,3277},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,3529},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,3781},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,1261},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,1513},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,1765},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_8_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,2017},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,2269},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,2521},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,2773},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,3025},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,3277},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,3529},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2093,3781},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_9_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,1261},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,1513},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,1765},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,2017},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,2269},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,2521},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,2773},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,3025},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2269,3277},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2269,3529},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2345,3781},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_10_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2521,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2483,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2483,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2483,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2483,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2483,1261},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2483,1513},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2405,1765},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2405,2017},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2405,2269},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,2575},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,2827},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_11_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2527,2521},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>emoticon_bg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3871},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,3871},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,3871},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,3871},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,1},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,209},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,417},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,625},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,833},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,1041},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,1249},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>emoticon_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,1457},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>AvatarPlist.png</string>
			<key>realTextureFileName</key>
			<string>AvatarPlist.png</string>
			<key>size</key>
			<string>{2778,4084}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2778</integer>
			<key>height</key>
			<integer>4084</integer>
		</dict>
	</dict>
</plist>