<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,696},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1842},{403,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,124}</string>
			</dict>
			<key>btn_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1142},{359,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,134}</string>
			</dict>
			<key>btn_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,960},{359,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,134}</string>
			</dict>
			<key>btn_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1142},{328,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,333}</string>
			</dict>
			<key>btn_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,1824},{152,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,133}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1824},{152,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,133}</string>
			</dict>
			<key>btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,954},{152,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,133}</string>
			</dict>
			<key>btn_social.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,946},{152,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,133}</string>
			</dict>
			<key>btn_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,544},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,1},{465,465}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{465,465}</string>
			</dict>
			<key>btn_store.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,442},{516,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{516,140}</string>
			</dict>
			<key>btn_store1.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,686},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>check_off_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,1902},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>check_on_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1902},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,850},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>hslider_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1773},{798,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,67}</string>
			</dict>
			<key>hslider_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1968},{778,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,57}</string>
			</dict>
			<key>Img_Frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,1245},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>info_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,582},{359,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,112}</string>
			</dict>
			<key>level_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1414},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>levelbar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,442},{270,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,22}</string>
			</dict>
			<key>levelbar_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,442},{270,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,22}</string>
			</dict>
			<key>slider_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1726},{192,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,96}</string>
			</dict>
			<key>table_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1414},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>check_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1968},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>check_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,838},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>btn_back_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,1261},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,540},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_chat_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,682},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_sound_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,364},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_soundoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,506},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_soundoff_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,648},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_store1_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,1},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_bg1_.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1278},{359,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,134}</string>
			</dict>
			<key>btn_bg2_.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,714},{359,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,134}</string>
			</dict>
			<key>slider_chip_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,824},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>btn_fb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,850},{325,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,102}</string>
			</dict>
			<key>btn_fb1_.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1622},{325,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,102}</string>
			</dict>
			<key>gift_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1477},{294,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,277}</string>
			</dict>
			<key>gifticon_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,1403},{178,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,172}</string>
			</dict>
			<key>gifticon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,183},{179,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,159}</string>
			</dict>
			<key>gifticon_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,1701},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>gifticon_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,1064},{179,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,170}</string>
			</dict>
			<key>gifticon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1081},{178,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,174}</string>
			</dict>
			<key>gifticon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1},{180,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,168}</string>
			</dict>
			<key>gifticon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,1401},{179,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,169}</string>
			</dict>
			<key>gifticon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,1714},{179,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,186}</string>
			</dict>
			<key>gifticon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,183},{182,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,166}</string>
			</dict>
			<key>gifticon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1405},{189,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,179}</string>
			</dict>
			<key>gifticon_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1096},{182,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,189}</string>
			</dict>
			<key>gifticon_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1886},{178,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,161}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,1},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_close_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,143},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,1},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_back1_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,285},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>btn_bg_.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1842},{403,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,124}</string>
			</dict>
			<key>btn_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,468},{393,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,112}</string>
			</dict>
			<key>btn_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1477},{363,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,134}</string>
			</dict>
			<key>btn_bg4_.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1613},{363,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,134}</string>
			</dict>
			<key>btn_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1287},{167,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,116}</string>
			</dict>
			<key>btn_info_.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,828},{167,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,116}</string>
			</dict>
			<key>check_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,468},{71,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,70}</string>
			</dict>
			<key>check_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1714},{71,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,70}</string>
			</dict>
			<key>btn_accept.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1596},{167,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,116}</string>
			</dict>
			<key>btn_accept_.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1287},{167,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,116}</string>
			</dict>
			<key>btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,946},{167,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,116}</string>
			</dict>
			<key>btn_cancel_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,1583},{167,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,116}</string>
			</dict>
			<key>btn_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1959},{145,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,84}</string>
			</dict>
			<key>btn_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1959},{144,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,84}</string>
			</dict>
			<key>btn_radio.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,582},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,72}</string>
			</dict>
			<key>btn_radio_.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,468},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,72}</string>
			</dict>
			<key>btn_fblogin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,442},{698,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{698,165}</string>
			</dict>
			<key>btn_fblogin_.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,442},{698,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{698,165}</string>
			</dict>
			<key>btn_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{528,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{528,439}</string>
			</dict>
			<key>max bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,367},{171,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ButtonPlist.png</string>
			<key>realTextureFileName</key>
			<string>ButtonPlist.png</string>
			<key>size</key>
			<string>{1617,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1617</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>