<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gcard_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3580,690},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>gcard_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3416,980},{142,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,197}</string>
			</dict>
			<key>gcard_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2661,694},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>gcard_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2423,701},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>gcard_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2158,707},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>gcard_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2860,694},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>gcard_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3059,694},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>gcard_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3615,1034},{142,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,197}</string>
			</dict>
			<key>gcard_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3258,694},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>gcard_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3759,1130},{142,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,197}</string>
			</dict>
			<key>gcard_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3457,835},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>gcard_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{3020,839},{143,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,196}</string>
			</dict>
			<key>pcard_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2556,984},{142,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,197}</string>
			</dict>
			<key>pcard_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3656,835},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>pcard_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3801,840},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>pcard_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3801,985},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>pcard_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2622,839},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>pcard_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2952,984},{142,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,196}</string>
			</dict>
			<key>pcard_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3218,839},{143,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,196}</string>
			</dict>
			<key>pcard_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3150,984},{142,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,196}</string>
			</dict>
			<key>pcard_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2357,846},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>pcard_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2821,839},{143,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,197}</string>
			</dict>
			<key>pcard_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2755,984},{143,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,195}</string>
			</dict>
			<key>gscard_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2672,260},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2899,260},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3126,260},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3353,260},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3580,260},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2672,477},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2434,484},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2196,490},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,505},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2899,477},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{3126,477},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>gscard_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{3353,477},{215,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,225}</string>
			</dict>
			<key>pscard_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2797,1},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3069,1},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3341,1},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3613,1},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,254},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,478},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,254},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,254},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,254},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,254},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>pscard_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1659,254},{257,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,270}</string>
			</dict>
			<key>bgcard_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3681,1274},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>bgcard_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,254},{263,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,249}</string>
			</dict>
			<key>bgcard_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2196,254},{236,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,234}</string>
			</dict>
			<key>bgcard_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3580,477},{211,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,220}</string>
			</dict>
			<key>bgcard_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3885,1},{253,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,190}</string>
			</dict>
			<key>bgcard_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3802,496},{211,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,178}</string>
			</dict>
			<key>bgcard_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2434,254},{228,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,236}</string>
			</dict>
			<key>bgcard_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3802,676},{162,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,195}</string>
			</dict>
			<key>bgcard_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3885,256},{201,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,238}</string>
			</dict>
			<key>pot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1},{296,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,251}</string>
			</dict>
			<key>pot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,225},{296,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,251}</string>
			</dict>
			<key>pot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1},{296,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,251}</string>
			</dict>
			<key>pot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,1},{296,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,251}</string>
			</dict>
			<key>pot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,1},{296,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,251}</string>
			</dict>
			<key>pot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,1},{296,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,251}</string>
			</dict>
			<key>pot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1903,1},{296,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,251}</string>
			</dict>
			<key>pot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2201,1},{296,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,251}</string>
			</dict>
			<key>pot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2499,1},{296,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,251}</string>
			</dict>
			<key>deck_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{410,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,222}</string>
			</dict>
			<key>deck_gcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{3348,1124},{165,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,158}</string>
			</dict>
			<key>deck_pcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{3515,1233},{164,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,158}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CardPlist.png</string>
			<key>realTextureFileName</key>
			<string>CardPlist.png</string>
			<key>size</key>
			<string>{4087,1429}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4087</integer>
			<key>height</key>
			<integer>1429</integer>
		</dict>
	</dict>
</plist>