<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>loose_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,131},{404,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,321}</string>
			</dict>
			<key>win_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,537},{404,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,321}</string>
			</dict>
			<key>chat_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,1793},{616,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{616,226}</string>
			</dict>
			<key>img_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>border.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>pot_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{1543,1635},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>black_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,1},{1568,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1568,100}</string>
			</dict>
			<key>line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,1},{1592,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1592,3}</string>
			</dict>
			<key>levelbar_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,1710},{359,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,67}</string>
			</dict>
			<key>levelbar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,1635},{359,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,67}</string>
			</dict>
			<key>spinner_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{543,543}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{543,543}</string>
			</dict>
			<key>panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,546},{646,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,354}</string>
			</dict>
			<key>item_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,546},{902,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{902,272}</string>
			</dict>
			<key>search_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,1},{794,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{794,97}</string>
			</dict>
			<key>btn_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1450},{1793,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1793,127}</string>
			</dict>
			<key>bonus_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,237},{270,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,273}</string>
			</dict>
			<key>achiv_mark1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,237},{59,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,65}</string>
			</dict>
			<key>achiv_mark2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,64},{60,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,58}</string>
			</dict>
			<key>achiv_mark3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,1352},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>block_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,1},{58,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,61}</string>
			</dict>
			<key>chat_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1635},{346,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,113}</string>
			</dict>
			<key>chip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1286},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1286},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,1286},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,1352},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,1286},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1352},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,1352},{88,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,64}</string>
			</dict>
			<key>chip_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1710},{152,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,71}</string>
			</dict>
			<key>dealer_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,185},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>edit_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,797},{614,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{614,117}</string>
			</dict>
			<key>friend_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,1351},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>gift_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,1286},{65,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,1793},{760,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{760,140}</string>
			</dict>
			<key>invite_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,1286},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>loader.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1579},{816,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{816,54}</string>
			</dict>
			<key>loader_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1579},{831,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{831,70}</string>
			</dict>
			<key>msg_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,1743},{64,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,47}</string>
			</dict>
			<key>present_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,126},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,57}</string>
			</dict>
			<key>rank_mark0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1579},{132,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,129}</string>
			</dict>
			<key>rank_mark1.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1651},{132,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,129}</string>
			</dict>
			<key>rank_mark2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1},{132,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,129}</string>
			</dict>
			<key>search_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,1352},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>
			<key>star.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,509},{372,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,351}</string>
			</dict>
			<key>star_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1321},{111,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,103}</string>
			</dict>
			<key>text_loose.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1362},{196,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,50}</string>
			</dict>
			<key>text_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1362},{157,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,54}</string>
			</dict>
			<key>timer_bg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,1029},{290,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,290}</string>
			</dict>
			<key>timer_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,1571},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>user_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,1286},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>slider_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,1413},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>mainuser_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,209},{274,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,273}</string>
			</dict>
			<key>chip_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,1321},{109,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,108}</string>
			</dict>
			<key>slider_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1194},{1162,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1162,44}</string>
			</dict>
			<key>slider_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1240},{1162,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1162,44}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,1},{512,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,259}</string>
			</dict>
			<key>push_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1352},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>text_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1286},{286,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,74}</string>
			</dict>
			<key>timer_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,1935},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>turnon_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1750},{45,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,39}</string>
			</dict>
			<key>soon.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,131},{104,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,105}</string>
			</dict>
			<key>_soon.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,131},{104,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,107}</string>
			</dict>
			<key>_table_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>_text_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,1935},{659,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{659,44}</string>
			</dict>
			<key>_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,1981},{659,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{659,44}</string>
			</dict>
			<key>_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1651},{659,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{659,44}</string>
			</dict>
			<key>_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1697},{659,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{659,44}</string>
			</dict>
			<key>_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1793},{636,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{636,229}</string>
			</dict>
			<key>_text_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1286},{319,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,88}</string>
			</dict>
			<key>_text_loose.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,1376},{199,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,53}</string>
			</dict>
			<key>_text_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1376},{184,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,60}</string>
			</dict>
			<key>logo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,515},{512,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,259}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ImagePlist.png</string>
			<key>realTextureFileName</key>
			<string>ImagePlist.png</string>
			<key>size</key>
			<string>{2031,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2031</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>