<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>manimate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{528,745}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{528,745}</string>
			</dict>
			<key>manimate_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2643,494},{570,462}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{570,462}</string>
			</dict>
			<key>manimate_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2791,1066},{562,462}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{562,462}</string>
			</dict>
			<key>manimate_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,748},{576,629}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{576,629}</string>
			</dict>
			<key>manimate_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,1},{515,605}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,605}</string>
			</dict>
			<key>manimate_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,1347},{550,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,565}</string>
			</dict>
			<key>manimate_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,608},{535,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{535,565}</string>
			</dict>
			<key>manimate_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{3289,1},{444,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{444,529}</string>
			</dict>
			<key>manimate_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{3597,447},{444,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{444,523}</string>
			</dict>
			<key>manimate_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,1118},{546,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{546,529}</string>
			</dict>
			<key>manimate_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,1},{686,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,523}</string>
			</dict>
			<key>manimate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,1},{541,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{541,548}</string>
			</dict>
			<key>manimate_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,689},{656,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{656,523}</string>
			</dict>
			<key>manimate_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{3597,972},{428,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,530}</string>
			</dict>
			<key>manimate_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{3107,465},{488,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,520}</string>
			</dict>
			<key>manimate_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1379},{685,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{685,523}</string>
			</dict>
			<key>manimate_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2297,1645},{613,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{613,390}</string>
			</dict>
			<key>manimate_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2297,1103},{540,492}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,492}</string>
			</dict>
			<key>manimate_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2116,1},{491,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{491,600}</string>
			</dict>
			<key>manimate_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2167,494},{474,607}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{474,607}</string>
			</dict>
			<key>manimate_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,1175},{524,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>manimate_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,551},{524,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>manimate_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2718,1},{569,462}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,462}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MonkeyPlist.png</string>
			<key>realTextureFileName</key>
			<string>MonkeyPlist.png</string>
			<key>size</key>
			<string>{4042,2036}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4042</integer>
			<key>height</key>
			<integer>2036</integer>
		</dict>
	</dict>
</plist>