<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>spin_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1843,1},{1184,1184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1184,1184}</string>
			</dict>
			<key>spin_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,2061},{496,495}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,495}</string>
			</dict>
			<key>spin_lights.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,956},{1103,1104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1103,1104}</string>
			</dict>
			<key>spin_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{3810,1},{265,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,511}</string>
			</dict>
			<key>spin_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{3810,1867},{104,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,187}</string>
			</dict>
			<key>spin_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{3810,1014},{444,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{444,127}</string>
			</dict>
			<key>monkey_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,2289},{703,840}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{703,840}</string>
			</dict>
			<key>frame_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1840,953}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1840,953}</string>
			</dict>
			<key>spin_chipbunch.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3668},{466,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,398}</string>
			</dict>
			<key>spin_shine.png</key>
			<dict>
				<key>frame</key>
				<string>{{2871,2051},{865,866}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{865,866}</string>
			</dict>
			<key>bottom_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{3029,1},{2048,590}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2048,590}</string>
			</dict>
			<key>monkey_tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{3739,2143},{340,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,455}</string>
			</dict>
			<key>tutorial_bubble0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2855,2918},{540,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,493}</string>
			</dict>
			<key>tutorial_bubble1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2484},{418,402}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,402}</string>
			</dict>
			<key>tutorial_bubble2.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,2488},{400,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,385}</string>
			</dict>
			<key>store_chip0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,2488},{371,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,266}</string>
			</dict>
			<key>store_chip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,2861},{365,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,263}</string>
			</dict>
			<key>store_chip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3397,3264},{402,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{402,254}</string>
			</dict>
			<key>store_chip3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3397,2918},{344,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{344,302}</string>
			</dict>
			<key>store_chip4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2506,2289},{392,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{392,316}</string>
			</dict>
			<key>store_chip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3739,2600},{424,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{424,316}</string>
			</dict>
			<key>store_panel0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3701,3026},{387,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,444}</string>
			</dict>
			<key>store_panel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3653,3472},{528,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{528,439}</string>
			</dict>
			<key>store_ribbon.png</key>
			<dict>
				<key>frame</key>
				<string>{{3810,1460},{405,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,110}</string>
			</dict>
			<key>store_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,1931},{555,555}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{555,555}</string>
			</dict>
			<key>gift_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2061},{426,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{426,421}</string>
			</dict>
			<key>monkey_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,956},{660,973}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,973}</string>
			</dict>
			<key>topbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{3621,1},{2048,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2048,187}</string>
			</dict>
			<key>text_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3922,1601},{540,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,53}</string>
			</dict>
			<key>text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3939,1014},{585,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{585,53}</string>
			</dict>
			<key>text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4032,1133},{585,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{585,53}</string>
			</dict>
			<key>text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{4041,514},{617,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{617,53}</string>
			</dict>
			<key>text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3810,514},{498,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,229}</string>
			</dict>
			<key>spin_offlights.png</key>
			<dict>
				<key>frame</key>
				<string>{{1769,1187},{1100,1100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1100,1100}</string>
			</dict>
			<key>onlight_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3994,1052},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>onlight_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3994,1014},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>onlight_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3994,1127},{36,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,33}</string>
			</dict>
			<key>onlight_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3994,1090},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>floating_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{3977,1720},{77,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,57}</string>
			</dict>
			<key>gift_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{2506,2683},{345,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{345,347}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SpinPlist.png</string>
			<key>realTextureFileName</key>
			<string>SpinPlist.png</string>
			<key>size</key>
			<string>{4095,4067}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4095</integer>
			<key>height</key>
			<integer>4067</integer>
		</dict>
	</dict>
</plist>